body {
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: #1a1a1a; /* Dark gray background */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 223, 0, 0.5); /* Yellow shadow */
}

.form-container {
    flex: 1;
    padding: 40px;
}

.image-container {
    flex: 1;
    background: url('login.jpg') no-repeat center center/cover;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-header h1 {
    color: #ffdf00; /* Yellow */
    font-size: 2em;
    margin: 0;
}

.form-header p {
    color: #cccccc; /* Light gray */
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #cccccc; /* Light gray */
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444444; /* Dark gray border */
    border-radius: 5px;
    background-color: #262626; /* Darker gray */
    color: #ffffff; /* White text */
    font-size: 1em;
}

.form-group input::placeholder {
    color: #888888; /* Gray placeholder text */
}

.next-button, .submit-button {
    background-color: #ffdf00; /* Yellow */
    color: #000000; /* Black */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-top: 10px;
}

.next-button:hover, .submit-button:hover {
    background-color: #e6c200; /* Darker yellow */
}
.signin {
    color:#e6c200;
}